<!DOCTYPE html>
<html lang ="en">
<head>
    <%- include('layouts/header'); -%>
   <link rel="stylesheet" href="/css/indexStyle.css">
   <title>Gate | Main</title>
</head>
<body>
    <div id="main">
        <div class="contents">
            <div class="description">
                <h1>스마트 <br>스피드 게이트</h1>
                <div class="buttons">
                    <a href ="./1F"><button>1F</button></a>
                    <a href ="./2F"><button>2F</button></a>
                    <a href ="./3F"><button>3F</button></a>
                    <a href ="./4F"><button>4F</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>