<!DOCTYPE html>
<html lang ="en">
<head>
    <%- include('layouts/header'); -%>
    <title>Gate | 4F</title>
</head>
<body>
    <script type="text/javascript" src="/js/tensorflow_4f.js"></script>
    <div id="main">
        <div class="contents">
            <div class="cam">
                <div id="webcam-container"></div>
            </div>
            <div class="display">
                <div class="id">
                    <div id="label-container">
                    </div>
                </div>
                <div class="temperature"></div>
                <div class="date"></div>
                <div class="description">
                    <h1>4F Face ID<br>인식중</h1>
                </div>
            </div> 
        </div>
    </div>

    <!-- js -->
    <%- include('layouts/javascripts'); -%>

</body>
</html>