body{
    background-color: rgb(162, 90, 193);
}

.description{
    margin : 15vh 0;
}
.buttons{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

button{
    width: 40vw;
    height: 7vh;
    font-size: 1.3rem;
    margin: 0 0 22px 0;
}